main.container(ng-controller="labController as $ctrl" ng-init="model = null")

    button.btn.btn-default.btn-md Button
    kp-value-editor(
        type="'boolean'"
        ng-model="$ctrl.model"

        placeholder="'placeholder'"
        options="$ctrl.options"
    )

    br

    button.btn.btn-default.btn-sm Button
    kp-value-editor(
        type="'boolean'"
        ng-model="$ctrl.model"
        size="'sm'"
        placeholder="'placeholder'"
        options="$ctrl.options"
    )

    br

    button.btn.btn-default.btn-xs Button
    kp-value-editor(
        type="'boolean'"
        ng-model="$ctrl.model"
        size="'xs'"
        placeholder="'placeholder'"
        options="$ctrl.options"
    )

    div Form
    pre {{form | json}}

    div Model:
    pre {{$ctrl.model | json}}
