form(id="\\{\\{$ctrl.formId\\}\\}" name="{{formName}}" ng-submit="$ctrl.onSubmit({$event: $event})" novalidate)

    | {{transclusion.beforeHeader}}

    p.text-info.text-info-up(ng-if="$ctrl.formSettings.header" ng-bind-html="$ctrl.formSettings.header")

    | {{transclusion.afterHeader}}

    kp-value-editor(
        type="'object'"

        ng-model="$ctrl.model"
        ng-model-options="{getterSetter: true}"
        ng-change="$ctrl.onChange()"

        is-focused="$ctrl.resolveAutofocusFirstField()"
        show-errors="$ctrl.showErrors"

        options="{" +
            "fields: $ctrl.formSettings.fields, " +
            "__withoutNgForm: true, " +
            "{{labelsWidth ? 'labelsWidth: $ctrl.labelsWidth' : ''}} " +
        "}"
    )

    | {{transclusion.beforeFooter}}

    p.text-info.text-info-bottom(ng-if="$ctrl.formSettings.footer" ng-bind-html="$ctrl.formSettings.footer")

    | {{transclusion.afterFooter}}

    // invisible submit button - due to html specification, form doesn't submit by enter when submit button is missing
    // see https://github.com/angular/angular.js/issues/6017#issuecomment-50808489
    button(type="submit" style="display: none;") ok

| \{\{ $ctrl.internalFormController = {{formName}}; '' \}\}
