fieldset.form-horizontal("{{withoutNgForm ? '' : 'ng-form'}}"="{{withoutNgForm ? '' : name}}")
    .form-group.value-editor-form-group(
        class="\\{\\{transformedFieldEditor.editorName\\}\\} size-\\{\\{transformedFieldEditor.size\\}\\}"
        ng-class="{'has-error': $ctrl.showValidationError(transformedFieldEditor.editorName), 'has-not-error': !$ctrl.showValidationError(transformedFieldEditor.editorName)}"
        ng-repeat="field in $ctrl.options.fields"
        ng-init="showDebugInfo = true; transformedFieldEditor = $ctrl.transformFieldEditor(field.editor, field.fieldName)"
        ng-show="$ctrl.trueIfUndefined(transformedFieldEditor.isVisible)"
    )
        label.value-editor-label.control-label(
            class="col-sm-{{labelsWidth}}"
            ng-class="{'required': transformedFieldEditor.validations.required}"
            ng-if="field.label"
            ng-attr-for="\\{\\{transformedFieldEditor.editorId\\}\\}"
        )
            span(ng-bind="field.label")
            i.glyphicon.glyphicon-question-sign.text-primary.editor-label-hint(ng-show="field.hint" uib-popover="\\{\\{field.hint\\}\\}" popover-trigger="'mouseenter'" popover-append-to-body="true")

        div(ng-class="field.label ? 'col-sm-{{inputsWidth}}' : 'col-sm-12'")
            kp-value-editor(
                editor-id="transformedFieldEditor.editorId"
                editor-name="transformedFieldEditor.editorName"
                placeholder="transformedFieldEditor.placeholder"

                ng-model="$ctrl.model[field.fieldName]"
                ng-model-options="{ getterSetter: true }"
                ng-change="$ctrl.onChange()"

                type="transformedFieldEditor.type"
                is-disabled="transformedFieldEditor.isDisabled || $ctrl.valueEditorController.isDisabled"
                is-visible="$ctrl.trueIfUndefined($ctrl.valueEditorController.isVisible)"
                is-focused="$ctrl.resolveIsFocused(transformedFieldEditor, $first)"
                show-errors="$ctrl.valueEditorController.showErrors"
                size="transformedFieldEditor.size"

                validations="transformedFieldEditor.validations"
                options="transformedFieldEditor.options"
                localizations="transformedFieldEditor.localizations"
            )
            button.btn.btn-default.debug-info(
                type="button"
                title="Show / hide debug info"
                ng-click="showDebugInfo = !showDebugInfo"
                ng-show="$ctrl.valueEditorController.configuration.debugMode"
            )
                i.glyphicon.glyphicon-cog

            pre(ng-bind="$ctrl.form[transformedFieldEditor.editorName] | json" ng-if="$ctrl.valueEditorController.configuration.debugMode" uib-collapse="showDebugInfo")

| {{withoutNgForm ? '' : '{' + '{$ctrl.form = ' + name + '; \'\'}' + '}'}}
